/*======GLOBAL STYLE======*/

html, body, header, section, footer, h1, h2, p, li, ul {
font-family: 'Raleway', Arial, verdana, sans-serif ;
}



html,body
{

  width: 100%;
  padding: 10px;
  }

header
{
  width: 100%;

}

h2
{
  width: 100%;
  font-size: 16px;
  background-color: #F2F2F2;

}

.third h2 i {
  float: right;
 
}


footer
{
  background-color: #F2F2F2;
  display: grid;
  align-content: end;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  width: 100%;
 }

p 
{
  font-size: 12px;
}

section {
  padding: 5px;
}

aside {
  border-radius:15px 15px 15px 15px;
  margin-bottom: 5px;

  
}



aside img {

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  align-items: center;
  width: 170px;
  height: 170px;
  object-fit: cover;

}


* {
  box-sizing: border-box;

 }
 

 /* ===== FIN GLOBAL STYLE ======*/

/* ====== HEADER =====*/

.logo
{
  width: 50%;
  float: left;
}

.logo img
{
  width: 15%;
}

.menu
{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding-top: 30px;
  color: black;
  text-decoration: none;
  margin-top: 0px;
  margin-right: 15px;
}

.menu > div
{
  text-align: right;
  padding: 5px 0;

}

.menu a:hover {
  border-top: solid #0065fc;
  padding-top: 25px;



}

.annonce
{
  display: block;
  float: left;
}

.filtres {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: white;
  
  
}

.filtre
{
  background-color: white;
  color: #0065fc;
  border: 1px solid #deebff;
  border-radius: 100px;
  text-align: center;
  margin: 20px;
  padding-right: 20px;
  background-color: white;
  
  

}

.filtres i
{
  background-color: #deebff;
  border-radius: 100px;
  padding: 10px;
  margin-left: -2px;
  margin-right: 5px;
  
}

/*====== FIN HEADER ======*/

/* ====== DEBUT HEBERGEMENT CONTAINER ======*/

#hebergement {
  background-color: red;
  float: left;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 5px;
  color: black;
  width: 60%;

}

.logements img {
  width: 25%;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}


.mesure {
  background-color: purple;
  }




.clearfix {
  background-color: rgb(0, 162, 255);
  float: left;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 5px;
  color: black;
  width: 100%;

}

.clearfix img {
  width: 25%;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}



.grid-container
{
  display: grid;
  align-content: end;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  width: 100%;
  background-color: brown;

}

.grid-container > div {
  text-align: left;
  padding: 20px 0;
  font-size: 30px;
 
}

.clearfix::after
{
  content: "";
  clear: both;
  display: table;
}

.container
{
  
  float: left;
  width: 100%;
  padding: 2px;
  background-color:white;


}


/* ====== FIN HEBERGEMENT CONTAINER =====*/